.dart_tool/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.git/
.env
.env.*
*.log
logs/
*.tmp
*.temp
*~
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
android/.gradle/
android/local.properties
android/**/build/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
ios/Flutter/ephemeral/
ios/Pods/
macos/Pods/
